<h1>Olá, {{name}}</h1>
<p>
  Dados confirmados da visita.
  Data : {{date}}
  Saída : {{expires}}
</p>
<img class="code" src="7bt06jl29yru2gh1kb488z6uqk82w0r7.png" width="300" height="300">

<style>
.code {
  width: 200px !important;
  height: 200px !important;
}
</style>
